table{
    width: 50%;
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: hsl(143, 52%, 26%);
  }
  tr:nth-child(odd):not(tr:first-child){
    background-color: hsl(143, 34%, 71%);

  }
  tr:first-child{
    background-color: rgba(0, 255, 255, 0.123);
  }